<h1>Welcome, Admin!</h1>
<p>This is your dashboard.</p>


<%= button_to "Delete / Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" }, class: "btn btn-danger" %>